
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  /* -webkit-font-smoothing: antialiased; */
  -moz-osx-font-smoothing: grayscale;
  color: #373737;
  background-color: white;
}

/* style for hiding elements from desktop  */

.hide-for-desktop {
  display: none;
}